/* ================================
   BASE & VARIABLES
================================ */

* {
    margin: 0;
    padding: 0;

    --rojo: #FF2A2A;
    --amarillo: #ffc800;
    --verde: #49BB35;
    --azul: #1286E9;
}

body {
    color: white;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

h1,
h2 {
    font-family: "Playpen Sans", cursive;
    font-weight: 600;
}

h2 {
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 80px;
}

a {
    text-decoration: none;
    color: white;
}

/* ================================
   NAVBAR
================================ */

nav {
    position: absolute;
    z-index: 2;
    width: 100vw;
    display: none;
    justify-content: center;
}

ul {
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 25px 10vw 0;
    padding-bottom: 15px;
    border-bottom: 1.5px solid white;
}

li a {
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.203);
    padding: 5px;
    border-radius: 10px;
}

/* ================================
   HERO
================================ */

#hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/reja-jardin.jpg") center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

#hero div {
    text-align: center;
    padding-inline: 35px;
}

#hero img {
    width: 230px;
}

#hero h1 {
    font-size: 35px;
    text-align: center;
    line-height: 1;
}

#hero h3 {
    font-family: "Playwrite US Modern", cursive;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
    margin-top: 10px;
}

/* ================================
   QUÉ OFRECEMOS
================================ */

#que-ofrecemos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.container {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}

.left {
    order: 1;
}

.right {
    order: 2;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.section img {
    width: 35px;
    padding: 10px;
    border-radius: 10px;
}

.section h3 {
    font-size: 20px;
}

.section p {
    color: #515050;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    margin-inline: 30px;
}

.educacion img {
    background-color: var(--rojo);
}

.alimentacion img {
    background-color: var(--verde);
}

.after-school img {
    background-color: var(--azul);
}

.celebraciones img {
    background-color: var(--amarillo);
}

.educacion h3 {
    color: var(--rojo);
}

.alimentacion h3 {
    color: var(--verde);
}

.after-school h3 {
    color: var(--azul);
}

.celebraciones h3 {
    color: var(--amarillo);
}

.mafalda-ofrecemos {
    height: 35vh;
    order: 3;
}

/* ================================
   NIVELES
================================ */

#niveles {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

#niveles h3 {
    font-size: 25px;
}

#niveles p {
    font-size: 20px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    text-align: center;
    padding: 40px;
    width: 50vw;
    outline: 3px dashed white;
    outline-offset: -15px;
    row-gap: 5px;
}
            
.card h3 {
    line-height: 1;
}

.medio {
    background-color: var(--amarillo);
}

.menor {
    background-color: var(--azul);
}

.mayor {
    background-color: var(--rojo);
}

/* ================================
   JORNADAS
================================ */

#jornadas {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto;
    justify-items: center;
    row-gap: 20px;
}

#table,
#jornadas img {
    width: 90%;
}

#table h3,
#table div {
    padding: 3px 10px;
    border-radius: 5px;
}

#table div {
    display: flex;
    justify-content: space-between;
    margin-block: 5px;
    background-color: #49bb3531;
}

#table h3,
#table p {
    font-size: 17px;
}

#table h3 {
    background-color: #49BB35;
    text-align: center;
}

#table p {
    color: black;
    font-weight: 500;
}

#jornadas img {
    justify-self: end;
}

/* ================================
   CONTÁCTANOS
================================ */

#contactanos,
#contactanos-items {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}

#contactanos {
    margin-bottom: 80px;
}

#contactanos-items {
    width: 80vw;
}

#contactanos-items h3 {
    font-size: 18px;
}

#contactanos-items p {
    font-size: 15px;
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 13px;
    padding: 15px;
    border-radius: 5px;
}

.item img {
    filter: invert(1);
    height: 30px;
}

.ubicacion {
    background-color: var(--rojo);
}

.horario {
    background-color: var(--amarillo);
}

.llamanos {
    background-color: var(--azul);
}

.llamanos:hover,
.llamanos:active {
    background-color: #105796;
}

.llamanos span {
    display: none;
}

.wsp {
    background-color: var(--verde)
}

.wsp:hover,
.wsp:active {
    background-color: #317a24
}

iframe {
    margin-block: 20px;
    width: 80vw;
    height: 80vw;
    border: 0;
}

#mafalda-contacto {
    width: 100%;
    margin-top: 10px;
}

/* ================================
   FOOTER
================================ */

footer,
footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: black;
    row-gap: 5px;
    padding-block: 25px;
}

footer img {
    filter: invert(1);
    height: 14px;
}

footer h3,
footer a {
    font-size: 15px;
}

footer a {
    display: flex;
    align-items: center;
    gap: 6px;
}

footer a:hover {
    text-decoration: underline;
}

footer h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-inline: 10px;
}

#github-logo {
    height: 20px;
    margin-top: 3px;
}

/* ================================
   MEDIA QUERIES
================================ */

@media (min-width: 356px) {
    br {
        display: none;
    }
}

@media (min-width: 379px) {

    #table h3,
    #table p {
        font-size: 20px;
    }
}

@media (min-width: 480px) {
    h2 {
        font-size: 35px;
    }

    .section img {
        width: 45px;
    }

    .section h3 {
        font-size: 25px;
    }

    .section p {
        font-size: 19px;
        margin-inline: 50px;
    }

    #niveles h3 {
        font-size: 30px;
    }

    #niveles p {
        font-size: 25px;
    }

    .card {
        width: 250px;
        height: 100px;
        display: flex;
        justify-content: center;
    }

    #contactanos-items h3 {
        font-size: 20px;
    }

    #contactanos-items p {
        font-size: 17px;
    }

    footer h3,
    footer a {
        font-size: 18px;
    }
}

@media (min-width: 768px) {

    #hero img {
        width: 320px;
    }

    #hero h1 {
        font-size: 50px;
    }

    #hero h3 {
        font-size: 30px;
    }

    .container {
        flex-direction: row;
    }

    .section p {
        margin-inline: 35px;
    }

    #niveles {
        flex-direction: row;
        gap: 10px;
        margin-inline: 30px;
    }

    .card {
        width: 30vw;
        height: 14vh;
        display: flex;
        justify-content: center;
    }

    #table h3,
    #table p {
        font-size: 26px;
    }

    #jornadas img {
        width: 75%;
    }

    #contactanos {
        display: flex;
        justify-content: center;
    }

    #contactanos-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: stretch;
        gap: 20px;
    }

    #contactanos-items>* {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 6px;
    }

    #contactanos-items h3 {
        font-size: 22px;
    }

    #contactanos-items p {
        font-size: 19px;
    }

    #contactanos-items img {
        margin-left: 10px;
    }

    .llamanos {
        pointer-events: none;
        cursor: not-allowed;
    }

    .llamanos p {
        display: none;
    }

    .llamanos span {
        display: block;
    }

    iframe {
        height: 35vh;
        width: 80%;
    }

    footer div {
        flex-direction: row;
        gap: 20px;
    }

    footer h3,
    footer a {
        font-size: 20px;
    }

    footer img {
        height: 18px;
    }

    #github-logo {
        height: 25px;
    }

}

@media (min-width: 1024px) {
    nav {
        display: flex;
    }

    #hero img {
        width: 360px;
    }

    #hero h1 {
        font-size: 70px;
    }

    #hero h3 {
        font-size: 35px;
    }

    #que-ofrecemos {
        flex-direction: row;
    }

    .container {
        flex-direction: column;
        row-gap: 20px;
        margin-inline: 45px;
    }

    .section p {
        margin-inline: 0;
        font-size: 20px;
    }

    .left {
        order: 1;
    }

    .right {
        order: 3;
    }

    .mafalda-ofrecemos {
        order: 2;
    }

    .educacion,
    .alimentacion {
        align-items: end;
    }

    .after-school,
    .celebraciones {
        align-items: start;
    }

    .educacion p,
    .alimentacion p {
        text-align: end;
    }

    .after-school p,
    .celebraciones p {
        text-align: start;
    }

    .mafalda-ofrecemos {
        height: 45vh;
    }

    #niveles {
        margin-inline: 50px;
        justify-content: center;
    }

    #niveles h3 {
        font-size: 33px;
    }

    #niveles p {
        font-size: 27px;
    }

    #jornadas {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #table h3,
    #table p {
        font-size: 26px;
    }

    #jornadas img {
        width: 90%;
    }

    #contactanos {
        flex-direction: row;
        gap: 50px;
    }

    #contactanos-items {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 10px;
    }

    #contactanos-items>* {
        display: flex;
        justify-content: start;
        padding: 15px;
    }

    #contactanos-items h3 {
        font-size: 25px;
    }

    iframe {
        width: 35%;
        height: 50vh;
        margin-block: 0;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 45px;
    }

    .section p {
        font-size: 21px;
    }

    .section h3 {
        font-size: 27px;
    }

    .card {
        width: 320px;
    }

    #table {
        width: 75%;
        justify-self: center;
    }

    #table h3,
    #table p {
        font-size: 26px;
    }
}