/* ================================
   FONTS
================================ */
@font-face {
    font-family: 'Cause';
    src: url('/fonts/Cause-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Playwrite US Modern';
    src: url(/fonts/PlaywriteUSModern-Light.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Playpen Sans';
    src: url('/fonts/PlaypenSans-SemiBold.woff2') format('woff2');
    font-display: swap;
}

/* ================================
   BASE & VARIABLES
================================ */
* {
    margin: 0;
    padding: 0;
    --rojo: #FF2A2A;
    --amarillo: #ffc800;
    --verde: #49BB35;
    --azul: #1286E9
}

body {
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    overflow-x: hidden
}

main {
    display: grid;
    gap: 4rem;
    margin-bottom: 6rem
}

h1,
h2 {
    font-family: "Playpen Sans", cursive
}

h2 {
    color: #000;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px
}

h3 {
    font-size: 1.8rem
}

a {
    text-decoration: none;
}

body, a {
    color: #fff;
}

/* ================================
   NAVBAR
================================ */
nav {
    display: none;
}

/* ================================
   HERO
================================ */

#hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/hero/reja-jardin.webp") center/cover;
    justify-content: center;
}

#hero div {
    align-items: center;
    gap: 1rem;
    text-align: center;
    margin-inline: 1.5rem;
}

#hero,
#hero div {
    display: flex;
    flex-direction: column;
}

#hero img {
    width: 75%;
}

#hero h1 {
    font-size: 2.5rem;
    line-height: 1;
}

#hero h2 {
    font-family: "Playwrite US Modern", cursive;
    line-height: 1.2;
    font-size: 1.8rem;
    color: #fff;
}

#hero a {
    background-color: var(--verde);
    font-weight: 700;
    padding: 8px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #0b4a00;
}

#hero a:active,
#hero a:hover {
    background-color: #008000;
}

#hero a:active {
    text-decoration: underline;
}

/* ================================
   QUÉ OFRECEMOS
================================ */

#que-ofrecemos>div:first-of-type {
    padding-inline: 10%;
    margin-top: 2.5rem;
    gap: 2rem;
}

.seccion {
    text-align: center;
    padding: 1.5rem;
    border-radius: 5px;
    gap: 8px;
    border: 3px dashed;
}

#que-ofrecemos>div:first-of-type,
.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separador {
    width: 20%;
    height: 3.5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.seccion p {
    color: #000;
    font-weight: 500;
    font-size: 1.2rem;
}

.seccion img {
    width: 2.5rem;
    padding: 7px;
    border-radius: 5px;
}

.educacion {
    background-color: #ffc6c6;
    border-color: var(--rojo);
    z-index: 3;
}

.educacion img,
.educacion .separador {
    background-color: var(--rojo);
}

.educacion h3 {
    color: var(--rojo);
}

.alimentacion {
    background-color: #fff2c2;
    border-color: var(--amarillo);
    z-index: 2;
}

.alimentacion img,
.alimentacion .separador {
    background-color: var(--amarillo);
}

.alimentacion h3 {
    color: var(--amarillo);
}

.after-school {
    background-color: #d9ffd1;
    border-color: var(--verde);
    z-index: 1;
}

.after-school img,
.after-school .separador {
    background-color: var(--verde);
}

.after-school h3 {
    color: var(--verde);
}

.celebraciones {
    background-color: #d0e9ff;
    border-color: var(--azul);
    z-index: 0;
}

.celebraciones img,
.celebraciones .separador {
    background-color: var(--azul);
}

.celebraciones h3 {
    color: var(--azul);
}

#mafalda-bici,
#mafalda-amigos {
    justify-content: center;
    margin-top: 2.5rem;
    width: 100%;
}

#mafalda-bici {
    height: 40vh;
    display: flex;
}

#mafalda-amigos {
    display: none;
}

/* ================================
   NIVELES
================================ */

#niveles>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 15px;
}

.nivel {
    position: relative;
}

.nivel div {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nivel p:first-child {
    font-weight: 700;
    font-size: 2rem;
}

.nivel p:nth-child(2) {
    font-size: 1.8rem;
}

/* ================================
   JORNADAS
================================ */
#tables {
    display: grid;
    gap: 1rem;
    margin-inline: 2rem;
}

.table h3,
.table p {
    text-align: center;
}

.table p {
    font-size: 1.5rem;
}

.table h3,
.table div {
    border-radius: 5px;
    padding-block: 5px;
}

.table div {
    margin-top: 7px;
    background-color: #befdb3;
}

.table h3 {
    background-color: var(--verde);
}

.table p {
    color: #000;
}

.table div p:nth-child(2) {
    font-weight: 600;
}

#jornadas img {
    width: 100%;
    margin-top: 2rem;
    justify-self: end;
}


/* ================================
   CONTÁCTANOS
================================ */

#contacto>div {
    margin-inline: 1.5rem;
}

#items {
    gap: 0.5rem;
}

.item {
    align-items: center;
    padding-block: 1rem;
    border-radius: 10px;
}

#items,
.item {
    display: flex;
    flex-direction: column;
}

.item h3 {
    font-size: 1.8rem;
}

.item p,
.btn {
    font-size: 1.5rem;
}

.ubicacion {
    background-color: var(--rojo);
}

.ubicacion br {
    display: none;
}

.horario {
    background-color: var(--amarillo);
}

.llamanos {
    background-color: var(--azul);
}

.wsp {
    background-color: var(--verde);
}

#items img {
    width: 40px;
    height: 40px;
}

.fondo {
    padding: 12px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.btn {
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
    margin-inline: 10px;
}

.btn:hover,
.btn:active {
    text-decoration: underline;
}

.llamanos .btn {
    color: var(--azul);
}

.wsp .btn {
    color: var(--verde);
}

iframe {
    margin-block: 20px;
    border: 0;
    width: 100%;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.423);
}

/* ================================
   FOOTER
================================ */

footer,
footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #000;
    row-gap: 5px;
    padding-block: 25px;
}

footer div {
    gap: 5px;
    margin-top: 5px;
}

footer img {
    filter: invert(1);
    height: 14px;
}

footer h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-inline: 10px;
}

footer h3,
footer p {
    font-size: 1.2rem;
}

footer a {
    display: flex;
    align-items: center;
    gap: 6px;
}

footer a:hover {
    text-decoration: underline;
}

/* ================================
   MEDIA QUERIES
================================ */

@media (min-width: 576px) {

    /* BASE */
    h2 {
        font-size: 2.5rem;
    }

    /* HERO */
    #hero img {
        width: 350px;
    }

    #hero h1 {
        font-size: 3.5rem;
    }

    #hero a {
        font-size: 1.7rem;
    }

    #mafalda-bici {
        height: 30vh;
    }

    /* QUE OFRECEMOS */
    #que-ofrecemos>div:first-of-type {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
        padding: 0;
        margin-inline: 3rem;
        align-items: stretch;
    }

    .seccion {
        padding-block: 2rem;
        padding-inline: 1.5rem;
    }

    #mafalda-bici {
        display: none;
    }

    #mafalda-amigos {
        display: flex;
    }

    #mafalda-amigos img {
        width: 32rem;
    }

    /* NIVELES */
    #niveles p {
        font-size: 2rem;
    }

    /* JORNADAS */
    .table div {
        display: flex;
        justify-content: space-between;
        padding-inline: 15px;
    }

    .table div p:nth-child(2) {
        font-weight: normal;
    }

    .table h3,
    .table p {
        font-size: 1.7rem;
    }

    #jornadas img {
        width: 90%;
        display: flex;
        justify-content: end;
    }

    /* CONTACTO */
    #items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #items>* {
        justify-content: center;
        width: 100%;
    }

    #items img {
        width: 35px;
        height: fit-content;
    }

    .llamanos a {
        display: none;
    }

    iframe {
        height: 40vh;
    }

    /* FOOTER */
    footer h3,
    footer p {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {

    /* NAVBAR */
    nav {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: 25px 10vw 0;
        padding-bottom: 15px;
    }

    nav,
    ul {
        width: 100%;
    }

    li a {
        font-size: 1.6rem;
    }

    li a:hover {
        background-color: #ffffff34;
        border-radius: 10px;
    }

    li a,
    li a:hover {
        padding: 5px;
    }

    nav div {
        width: 90%;
        height: 1px;
        background-color: #fff;
    }

    /* HERO */
    #hero h3 {
        font-size: 30px;
    }

    #redirect {
        display: none;
    }

    /* QUE OFRECEMOS */
    .container {
        flex-direction: row;
    }

    .seccion p {
        margin-inline: 35px;
    }

    #mafalda-amigos img {
        width: 40rem;
    }

    /* NIVELES */
    #medio-menor {
        display: flex;
    }

    /* JORNADAS */
    #tables {
        margin-inline: 9rem;
    }

    #jornadas img {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: 0;
    }

    /* CONTACTO */
    #contacto>div {
        margin-inline: 5rem;
    }

    /* FOOTER */
    footer div {
        gap: 30px;
        flex-direction: row;
    }

    footer h3,
    footer p {
        font-size: 1.5rem;
    }

    footer img {
        height: 18px;
    }

}

@media (min-width: 1024px) {

    /* HERO */
    #hero img {
        width: 450px;
    }

    #hero h1 {
        font-size: 70px;
    }

    #hero h3 {
        font-size: 35px;
    }

    /* NIVELES */
    #niveles>div {
        flex-direction: row;
    }

    /* JORNADAS */
    #jornadas>div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #tables {
        margin-right: 0.5rem;
        margin-left: 1.5rem;
    }

    #jornadas img {
        width: 100%;
        margin-top: 0;
    }

    /* CONTACTANOS */
    #contacto>div {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: stretch;
    }

    #contacto iframe {
        width: 35vw;
        margin: 0;
        height: auto;
    }

    .ubicacion br {
        display: block;
    }

    /* FOOTER */
    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    footer div {
        flex-direction: row;
        align-items: start;
        margin: 0;
        gap: 20px;
    }

    footer div div {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

}

@media (min-width: 1200px) {

    /* BASE */
    h2 {
        font-size: 45px;
    }

    /* QUE OFRECEMOS */
    #que-ofrecemos>div:first-of-type {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .seccion {
        padding-inline: 0;
    }

    #mafalda-amigos img {
        width: 50rem;
    }

    /* JORNADAS */
    #tables {
        margin-inline: 3rem;
        gap: 0rem;
    }

    .table h3,
    .table p {
        font-size: 1.8rem;
    }

    /* CONTACTANOS */
    #contacto>div iframe {
        width: 40vw;
    }
}